<div class="container mx-auto clearfix mt-2 mt-lg-4 px-2">
  <div class="border-top-thick">
    <p class="col-8 sm-width-full left py-2 mb-0">Proyecto mantenido por <a class="text-accent" href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
	<br />
	Bajo <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</a>.</p>
	<p><br />
	<a class="no-underline" rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></p>
	
  </div>
</div>
