<script>
  $(".rima_eto").hover
  (
  function()
  {
  $(".rima_eto").css("color","#2980b9");
  },
  function()
  {
  $(".rima_eto").css("color","#181818");
  }
  ),
  
$(".rima_ia").hover
(
  function()
  {
  $(".rima_ia").css("color","#2980b9");
  },
  function()
  {
      $(".rima_ia").css("color","#181818");
  }
),

$(".rima_ion").hover
(
  function()
  {
  $(".rima_ion").css("color","#2980b9");
  },
  function()
  {
      $(".rima_ion").css("color","#181818");
  }
),

$(".rima_ona").hover
(
  function()
  {
  $(".rima_ona").css("color","#2980b9");
  },
  function()
  {
     $(".rima_ona").css("color","#181818");
  }
),

$(".rima_una").hover
(
  function()
  {
  $(".rima_una").css("color","#2980b9");
  },
  function()
  {
     $(".rima_una").css("color","#181818");
  }
),

$(".rima_ir").hover
(
  function()
  {
  $(".rima_ir").css("color","#2980b9");
  },
  function()
  {
     $(".rima_ir").css("color","#181818");
  }
),

$(".rima_on").hover
(
  function()
  {
  $(".rima_on").css("color","#2980b9");
  },
  function()
  {
     $(".rima_on").css("color","#181818");
  }
),

$(".rima_ado").hover
(
  function()
  {
  $(".rima_ado").css("color","#2980b9");
  },
  function()
  {
     $(".rima_ado").css("color","#181818");
  }
),

$(".rima_ança").hover
(
  function()
  {
  $(".rima_ança").css("color","#2980b9");
  },
  function()
  {
     $(".rima_ança").css("color","#181818");
  }
),

$(".rima_ejas").hover
(
  function()
  {
  $(".rima_ejas").css("color","#2980b9");
  },
  function()
  {
     $(".rima_ejas").css("color","#181818");
  }
),

$(".rima_anos").hover
(
  function()
  {
  $(".rima_anos").css("color","#2980b9");
  },
  function()
  {
     $(".rima_anos").css("color","#181818");
  }
),

$(".rima_ey").hover
(
  function()
  {
  $(".rima_ey").css("color","#2980b9");
  },
  function()
  {
     $(".rima_ey").css("color","#181818");
  }
),

$(".rima_ura").hover
(
  function()
  {
  $(".rima_ura").css("color","#2980b9");
  },
  function()
  {
     $(".rima_ura").css("color","#181818");
  }
),

$(".rima_opa").hover
(
  function()
  {
  $(".rima_opa").css("color","#2980b9");
  },
  function()
  {
     $(".rima_opa").css("color","#181818");
  }
),

$(".rima_er").hover
(
  function()
  {
  $(".rima_er").css("color","#2980b9");
  },
  function()
  {
     $(".rima_er").css("color","#181818");
  }
),

$(".rima_ada").hover
(
  function()
  {
  $(".rima_ada").css("color","#2980b9");
  },
  function()
  {
     $(".rima_ada").css("color","#181818");
  }
),

$(".rima_il").hover
(
  function()
  {
  $(".rima_il").css("color","#2980b9");
  },
  function()
  {
     $(".rima_il").css("color","#181818");
  }
),

$(".rima_or").hover
(
  function()
  {
  $(".rima_or").css("color","#2980b9");
  },
  function()
  {
     $(".rima_or").css("color","#181818");
  }
),

$(".rima_ente").hover
(
  function()
  {
  $(".rima_ente").css("color","#2980b9");
  },
  function()
  {
     $(".rima_ente").css("color","#181818");
  }
),


$(".rima_osa").hover
(
  function()
  {
  $(".rima_osa").css("color","#2980b9");
  },
  function()
  {
     $(".rima_osa").css("color","#181818");
  }
),

$(".rima_adas").hover
(
  function()
  {
  $(".rima_adas").css("color","#2980b9");
  },
  function()
  {
     $(".rima_adas").css("color","#181818");
  }
),

$(".rima_ido").hover
(
  function()
  {
  $(".rima_ido").css("color","#2980b9");
  },
  function()
  {
     $(".rima_ido").css("color","#181818");
  }
),

$(".rima_undo").hover
(
  function()
  {
  $(".rima_undo").css("color","#2980b9");
  },
  function()
  {
     $(".rima_undo").css("color","#181818");
  }
),

$(".rima_ales").hover
(
  function()
  {
  $(".rima_ales").css("color","#2980b9");
  },
  function()
  {
     $(".rima_ales").css("color","#181818");
  }
),

$(".rima_aya").hover
(
  function()
  {
  $(".rima_aya").css("color","#2980b9");
  },
  function()
  {
     $(".rima_aya").css("color","#181818");
  }
),

$(".rima_idos").hover
(
  function()
  {
  $(".rima_idos").css("color","#2980b9");
  },
  function()
  {
     $(".rima_idos").css("color","#181818");
  }
)
</script>